The data: https://console.cloud.google.com/bigquery?project=thinkmatch-proj&p=bigquery-public-data&page=table&d=iowa_liquor_sales&t=sales

In [7]:
import os

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'D:/mlearning-proj/project/exploring-iowa-liquor-sales/Thinkmatch-proj-eb4ed729aecb.json'

In [4]:
from google.cloud import bigquery

In [8]:
bigquery_client = bigquery.Client()

In [9]:
QUERY = (
    'SELECT * FROM `bigquery-public-data.iowa_liquor_sales.sales` '
    'LIMIT 10')
query_job = bigquery_client.query(QUERY)
rows = query_job.result()

for row in rows:
    print(row.store_name)

Sam's Club 8162 / Cedar Rapids
3rd St Convenience
Okoboji Avenue Liquor
Hy-Vee Food Store / Dubuque
Hy-Vee Wine and Spirits / Spirit Lak
Central City 2
Central City Liquor, Inc.
Hy-Vee Wine and Spirits #2
Hy-Vee Food Store #4 / Sioux City
Audubon Food Land

In [10]:
df = query_job.to_dataframe()

In [11]:
df.head()

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,S06094400078,2012-06-20,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,POINT (-91.67969 42.031819),57,Linn,...,86390,Montezuma Triple Sec,12,1000,2.13,3.19,96,306.24,96.00,25.36
1,S22018800019,2014-10-27,4845,3rd St Convenience,"216, 3RD ST SE",CEDAR RAPIDS,52401,POINT (-91.666081 41.977896),57,Linn,...,874,The Glenlivet w/50ml 15YR & 18YR,6,850,20.99,32.24,2,64.48,1.70,0.45
2,S12837000060,2013-06-15,3390,Okoboji Avenue Liquor,1610 OKOBOJI AVENUE,MILFORD,51351,POINT (-95.149955 43.331525),30,Dickinson,...,77497,Tortilla Silver Dss,12,1000,4.51,6.76,60,405.60,60.00,15.85
3,S20506900110,2014-08-06,2524,Hy-Vee Food Store / Dubuque,3500 DODGE ST,DUBUQUE,52001,None,31,Dubuque,...,52314,Christian Bros Brandy,24,375,3.23,4.85,5,24.25,1.88,0.50
4,S05881400101,2012-06-05,2522,Hy-Vee Wine and Spirits / Spirit Lak,HWY 9 & 71,SPIRIT LAKE,51360,None,30,Dickinson,...,86310,La Prima Triple Sec,12,1000,2.66,3.99,48,191.52,48.00,12.68